{% extends 'base.html.twig' %}


{% block body %}

	<h1>
		Salut
	</h1>

	<section class="jobs">

		{% for job in job %}
			<jobs>
				<h2>
					{{ job.nomOffre }}</h2>
			</jobs>
		{% endfor %}

	</section>

{% endblock %}
